body{

margin:0;

font-family:Arial;

background:#0f0f0f;

color:white;

text-align:center;

}



header{

background:black;

padding:18px;

font-size:22px;

font-weight:bold;

}



.searchBox{

padding:20px;

}



input{

padding:12px;

width:60%;

border:none;

border-radius:6px;

}



button{

padding:12px;

background:#ff3040;

color:white;

border:none;

border-radius:6px;

margin-left:10px;

}



#profile{

margin-top:20px;

font-size:20px;

}



#reels{

margin-top:30px;

}



video{

width:95%;

max-width:450px;

border-radius:10px;

margin:20px auto;

display:block;

}
