body{

margin:0;

font-family:Arial;

background:black;

color:white;

overflow-y:scroll;

scroll-snap-type:y mandatory;

}


header{

position:fixed;

top:0;

width:100%;

background:black;

padding:15px;

font-size:20px;

text-align:center;

z-index:10;

}


.searchBox{

position:fixed;

top:60px;

width:100%;

text-align:center;

z-index:10;

}


input{

padding:10px;

width:60%;

border-radius:6px;

border:none;

}


button{

padding:10px;

background:#ff3040;

border:none;

color:white;

border-radius:6px;

}


.reelsContainer{

margin-top:120px;

}


.reel{

height:100vh;

scroll-snap-align:start;

display:flex;

align-items:center;

justify-content:center;

}


video{

width:100%;

max-width:500px;

height:100%;

object-fit:cover;

border-radius:10px;

}
